.header {
  width: 100%;
  background-color: #f2f4f7;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  border-bottom: 1px solid #f2f4f7;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 32px;
}

.navigationItem {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.active {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--button-hover);
}
