.filterContainer {
  padding-top: 84px;
  padding-bottom: 56px;
  background-color: var(--white);
}
.filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  align-items: end;
  gap: 24px;
}
.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
}
.selectContainer {
  position: relative;
  background-color: var(--inputs);
  border-radius: 12px;
  overflow: hidden;
}
.select {
  border: none;
  background: transparent;
  appearance: none;
  border-radius: 0;
  background-color: transparent;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  border-color: var(--white);
  border-radius: 12px;
  padding: 12px 12px 12px 16px;
  width: 100%;
  background-color: var(--inputs);
}
.icon {
  position: absolute;
  right: 12px;
  top: 60%;
  transform: translateY(-50%);
  pointer-events: none;
  justify-content: center;
}
.option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  border: 1px solid #f7f7f7;
  border-radius: 12px;
  width: 204px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
}
.buttonWrap {
  display: flex;
  justify-content: flex-end;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 12px;
  padding-block: 12px;
  width: 156px;
  height: 44px;
  background-color: var(--button);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
}

.btn:hover {
  background-color: var(--button-hover);
}
