.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  border-radius: 10px;
  padding: 32px;
  border: 1px solid var(--gray);
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 8px;
}
.desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  margin-bottom: 24px;
}
.label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--input);
}
.input {
  align-items: flex-start;
  border-radius: 12px;
  padding: 12px 20px;
  font-size: 16px;
  width: 576px;
  height: 48px;
  background-color: var(--inputs);
  border: 1px solid var(--gray);
  margin-bottom: 16px;
}
.textarea {
  border-radius: 12px;
  padding-block: 12px 56px;
  padding-inline: 20px;
  border: 1px solid var(--gray);
  width: 576px;
  height: 88px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--input);
}
.button {
  border-radius: 12px;
  padding-block: 12px;
  padding-inline: 51px;
  width: 156px;
  height: 44px;
  background-color: var(--button);
  margin: 0 auto;
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
}
.button:hover {
  background-color: var(--button-hover);
}
.calendarField {
  margin-top: 16px;
}
.labelText {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}
