:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;

  --font-family: var(--font-manrope);
  --second-family: var(--font-inter);
}
html,
body {
  max-width: 100%;
  font-family: var(--font-manrope), sans-serif;
  /* color: var(--badges); */
  background-color: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-family), sans-serif;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
