.hero {
  height: 100%;
  width: 1440px;
  background-image: url('/Hero.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url('/Hero@2.jpg');
    background-size: cover;
    background-position: center;
  }
}

.heroContainer {
  padding-top: 436px;
  padding-bottom: 60px;
}

.heroTitle {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
}

.heroParagraph {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
}

.heroButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 12px 99px;
  height: 44px;
  background-color: var(--button);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  margin: 0 auto;
}
.heroButton:hover {
  background-color: var(--button-hover);
}
