.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
}
.inputs {
  display: flex;
  gap: 0px;
  align-items: center;
  background-color: var(--inputs);
  border-radius: 12px;
  overflow: hidden;
}
.input {
  width: 160px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 0;
  border: none;
  color: var(--main);
  background-color: var(--inputs);
  padding: 12px 16px;
  margin-top: 8px;
}
.separator {
  width: 1px;
  height: 28px;
  background-color: var(--gray-light);
}
