.noResults {
  padding-top: 50px;
  padding-bottom: 50px;
}
.title {
  font-size: 24px;
  font-weight: 600;
  color: var(--main);
  text-align: center;
  margin-bottom: 50px;
}
.message {
  font-size: 20px;
  text-align: center;
  color: var(--gray);
}
