.calendar {
  width: 100%;
  max-width: 276px;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 12px;
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.monthLabel {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}
.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 8px;
  border-bottom: 2px solid var(--button);
  padding-bottom: 4px;
}
.weekDay {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray);
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}
.day {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.day:hover {
  border: 1px solid var(--button);
}
.selected {
  background-color: var(--gray);
  color: var(--white);
}
.today {
  background-color: var(--button);
  color: var(--white);
}
.notCurrentMonth {
  color: #ccc;
}
.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.weekRow {
  display: contents;
}
