.group {
  position: relative;
  display: inline-block;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: var(--gray);
}
.selectContainer {
  position: relative;
  background-color: var(--inputs);
}
.trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px 16px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  background-color: var(--white);
  color: var(--main);
  margin-top: 8px;
}
.placeholder {
  color: var(--main);
}
.icon {
  margin-left: 8px;
}
.list {
  position: absolute;
  z-index: 10;
  margin-top: 4px;
  width: 100%;
  max-height: 272px;
  overflow-y: auto;
  background: var(--inputs);
  border: 1px solid var(--inputs);
  border-radius: 12px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
}
.option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 12px;
}
.option:hover {
  color: var(--main);
}
.selected {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 12px;
}
